In [6]:
##Data cleaning and combination
import pandas as pd

df = pd.read_csv('ucop_sd_all.csv')

In [7]:
df = df.dropna(subset=['FirstName'])
df = df.dropna(subset=['LastName'])
df = df[df.FirstName != '*****']
#Add full name and delete first name and last name
first = df.FirstName

#df.set_index(list(range(len(first))))

In [8]:

#Clean Data
df = df[df.FirstName != '*****']
#Add full name and delete first name and last name
first = df.FirstName
last = df.LastName
firstN =  ["".join(list(filter(str.isalnum, line))) for line in first]
lastN =  ["".join(list(filter(str.isalnum, line))) for line in last]
name = last + ',' + first
fullName = ["".join(list(filter(str.isalnum, line))) for line in name]

df['firstName'] = firstN
df['lastName'] = lastN
inx = pd.Series(list(range(len(first))))
df = df.set_index(inx)
df

,SNo,Year,Location,FirstName,LastName,Title,GrossPay,RegularPay,OvertimePay,OtherPay,firstName,lastName
0,15888,2018,San Diego,ALISON MILLER-KR,A'COURT,ASC PHYSCN DIPLOMATE,"314,988.00","151,743.00",0.00,"163,245.00",ALISONMILLERKR,ACOURT
1,15889,2018,San Diego,MANSOUR,AALIPOUR,PROJECT POLICY ANL 4,"106,875.00","105,009.00",0.00,"1,866.00",MANSOUR,AALIPOUR
2,15890,2018,San Diego,EDDIE,AAMARI,VIS ASST PROF,"36,750.00","36,750.00",0.00,0.00,EDDIE,AAMARI
3,15891,2018,San Diego,"ERNEST L,III",AARON,DEV TCHN 4,"80,840.00","59,322.00","21,518.00",0.00,ERNESTLIII,AARON
4,15892,2018,San Diego,GREGORY A.,AARONS,PROF-HCOMP,"289,001.00","166,804.00",0.00,"122,197.00",GREGORYA,AARONS
5,15893,2018,San Diego,ALBERT PHILLIP,ABABAT,MED CTR STOREKEEPER LD,"52,654.00","51,654.00",0.00,"1,000.00",ALBERTPHILLIP,ABABAT
6,15894,2018,San Diego,FEDERICK,ABAD,CLIN NURSE 2,"125,268.00","111,451.00","2,476.00","11,341.00",FEDERICK,ABAD
7,15895,2018,San Diego,MARIA LOURDES VA,ABAD,ACAD HR ANL 1,"11,284.00","10,669.00",0.00,615.00,MARIALOURDESVA,ABAD
8,15896,2018,San Diego,CONCEPCION ABUTI,ABAD,CLERK SR OR SECR,"41,256.00","29,743.00",82.00,"11,431.00",CONCEPCIONABUTI,ABAD
9,15897,2018,San Diego,RUBEN,ABAGYAN,PROF-HCOMP,"233,000.00","217,530.00",0.00,"15,470.00",RUBEN,ABAGYAN
10,15898,2018,San Diego,JERRY SABLAYAN,ABALAJEN,PHARMACY TCHN 3,"72,673.00","64,587.00","2,731.00","5,355.00",JERRYSABLAYAN,ABALAJEN
11,15899,2018,San Diego,ANNA MYRA,ABANILLA,PHLEBOTOMIST CERT TCHN 2,"44,793.00","43,663.00",129.00,"1,001.00",ANNAMYRA,ABANILLA
12,15900,2018,San Diego,MILLICENT M,ABANILLA,CLIN RSCH CRD AST,"52,000.00","52,000.00",0.00,0.00,MILLICENTM,ABANILLA
13,15901,2018,San Diego,"GENEROSO CAPARID,JR",ABANO,CLIN NURSE 2,"119,722.00","116,296.00","1,409.00","2,017.00",GENEROSOCAPARIDJR,ABANO
14,15902,2018,San Diego,KAREN FAYE,ABARABAR,PHARMACY TCHN 3,"71,844.00","60,070.00","7,492.00","4,282.00",KARENFAYE,ABARABAR
15,15903,2018,San Diego,HENRY DON ISAAC,ABARBANEL,PROF-AY,"206,175.00","206,175.00",0.00,0.00,HENRYDONISAAC,ABARBANEL
16,15904,2018,San Diego,ROSALINDA,ABARCA,MED CTR CUSTODIAN,"42,234.00","39,287.00",632.00,"2,315.00",ROSALINDA,ABARCA
17,15905,2018,San Diego,RONALDO T,ABAYON,HISTO TCHNO 2,"91,390.00","81,213.00","1,837.00","8,340.00",RONALDOT,ABAYON
18,15906,2018,San Diego,BENJAMIN,ABBADESSA,AST PHYSCN,"107,944.00","60,270.00",0.00,"47,674.00",BENJAMIN,ABBADESSA
19,15907,2018,San Diego,MAHTAB,ABBASI,ULTRASOUND TCHNO SR PD,"6,798.00","5,755.00",86.00,957.00,MAHTAB,ABBASI
20,15908,2018,San Diego,NAZIA,ABBASI,POSTDOC-EMPLOYEE,"49,966.00","49,966.00",0.00,0.00,NAZIA,ABBASI
21,15909,2018,San Diego,SHAGHAYEGH,ABBASI,VIS ASST PROF,"7,931.00",0.00,0.00,"7,931.00",SHAGHAYEGH,ABBASI
22,15910,2018,San Diego,LEILY M,ABBASSI,K-12 INSTRUCTOR-AY-1/10,"9,342.00","9,342.00",0.00,0.00,LEILYM,ABBASSI
23,15911,2018,San Diego,YUKO KOMURO,ABBOTT,CLIN SOCIAL WORKER 3,"104,483.00","103,085.00",396.00,"1,002.00",YUKOKOMURO,ABBOTT
24,15912,2018,San Diego,AMI MARLO,ABBOTT,LAB AST 2,"7,388.00","7,388.00",0.00,0.00,AMIMARLO,ABBOTT
25,15913,2018,San Diego,PAUL,ABBOTT,DIGITAL COMM SPEC 3,"82,642.00","82,642.00",0.00,0.00,PAUL,ABBOTT
26,15914,2018,San Diego,SARA,ABDEL-LATIF,SRA 2 NEX,"16,777.00","13,790.00",0.00,"2,987.00",SARA,ABDELLATIF
27,15915,2018,San Diego,JOSEPH,ABDELMALEK,HS ASST CLIN PROF-HCOMP,"145,237.00","49,347.00",0.00,"95,890.00",JOSEPH,ABDELMALEK
28,15916,2018,San Diego,KAREN LERVIE ENT,ABDON,PAT BILLER 3,"60,073.00","51,519.00","7,540.00","1,014.00",KARENLERVIEENT,ABDON
29,15917,2018,San Diego,KRISTY ROSE,ABDOU,NURSE PRACT 2,"134,821.00","134,432.00",389.00,0.00,KRISTYROSE,ABDOU
...,...,...,...,...,...,...,...,...,...,...,...,...
29287,45178,2018,San Diego,IRA,ZUKANOVIC,STDT SVC ADVISOR 2,"51,198.00","49,384.00",834.00,980.00,IRA,ZUKANOVIC
29288,45179,2018,San Diego,MUAMERA,ZULCIC,SRA 2 NEX,"46,946.00","46,946.00",0.00,0.00,MUAMERA,ZULCIC
29289,45180,2018,San Diego,ANN KISER,ZULTNER,HEALTH PROFNS EDUC SPEC 2,"55,917.00","54,558.00",359.00,"1,000.00",ANNKISER,ZULTNER
29290,45181,2018,San Diego,MARIANA,ZUMAYA,PAT ACCESS SVC SUPV 1,"68,013.00","66,381.00",882.00,750.00,MARIANA,ZUMAYA
29291,45182,2018,San Diego,YVONNE FELA,ZUMAYA,HOSP BLANK AST 4,"66,628.00","62,801.00","3,077.00",750.00,YVONNEFELA,ZUMAYA
29292,45183,2018,San Diego,JOEL M,ZUMAYA,BLDG MAINT WORKER,"38,948.00","38,948.00",0.00,0.00,JOELM,ZUMAYA
29293,45184,2018,San Diego,ROSARIO,ZUMAYA-MENDOZA,PAT RCDS ABSTRACTOR 3,"64,209.00","63,459.00",0.00,750.00,ROSARIO,ZUMAYAMENDOZA
29294,45185,2018,San Diego,BRIAN JOSEPH,ZUMBANO,FUNDRAISING MGR 3,"160,711.00","65,588.00",0.00,"95,123.00",BRIANJOSEPH,ZUMBANO
29295,45186,2018,San Diego,MARK ANDREW,ZUMBERGE,RES-FY,"175,033.00","175,033.00",0.00,0.00,MARKANDREW,ZUMBERGE
29296,45187,2018,San Diego,CATHERINE L.,ZUMBERGE,TEACHER-UNEX-CONTRACT YR,"14,716.00","9,986.00",0.00,"4,730.00",CATHERINEL,ZUMBERGE
29297,45188,2018,San Diego,JOHN DAVID,ZUMELLO,CUSTODIAN SR,"14,328.00","12,942.00",0.00,"1,386.00",JOHNDAVID,ZUMELLO
29298,45189,2018,San Diego,MELISSA ANNE,ZUMMAY,CLIN NURSE 2,"96,947.00","89,785.00","2,881.00","4,281.00",MELISSAANNE,ZUMMAY
29299,45190,2018,San Diego,GERARD WILLIAM,ZUNIGA,CARDIOVASCULAR TCHN PD,"30,863.00","28,640.00","2,006.00",217.00,GERARDWILLIAM,ZUNIGA
29300,45191,2018,San Diego,BELINDA JACQUELI,ZUNIGA,MED AST 2 PD,"8,713.00","8,567.00",146.00,0.00,BELINDAJACQUELI,ZUNIGA
29301,45192,2018,San Diego,MARIA L,ZUNIGA,CUSTODIAL SUPV 1,"46,747.00","44,818.00","1,692.00",237.00,MARIAL,ZUNIGA
29302,45193,2018,San Diego,JORGE,ZUNIGA,BLDG MAINT WORKER,"20,174.00","19,573.00",0.00,601.00,JORGE,ZUNIGA
29303,45194,2018,San Diego,PATRICIA ELVIA,ZUNIGA,SRA 3,"64,572.00","64,572.00",0.00,0.00,PATRICIAELVIA,ZUNIGA
29304,45195,2018,San Diego,MARIA ELENA,ZUNIGA,ADMIN OFCR 2,"56,875.00","55,546.00",79.00,"1,250.00",MARIAELENA,ZUNIGA
29305,45196,2018,San Diego,ROGELIO,ZUNIGA,BUS SYS ANL 2 NEX,"66,354.00","62,866.00","2,478.00","1,010.00",ROGELIO,ZUNIGA
29306,45197,2018,San Diego,ELINA I,ZUNIGA,PROF-AY,"220,275.00","125,447.00",0.00,"94,828.00",ELINAI,ZUNIGA
29307,45198,2018,San Diego,MARIA DEL REFUGI,ZUNIGA,CUSTODIAN SR,"41,482.00","40,088.00",0.00,"1,394.00",MARIADELREFUGI,ZUNIGA
29308,45199,2018,San Diego,MARTHA,ZUNIGA DELA CRU,MED CTR CUSTODIAN,"44,954.00","41,712.00",825.00,"2,417.00",MARTHA,ZUNIGADELACRU
29309,45200,2018,San Diego,JUAN PABLO,ZUNIGA HERTZ,POSTDOC-EMPLOYEE,"4,432.00","4,432.00",0.00,0.00,JUANPABLO,ZUNIGAHERTZ
29310,45201,2018,San Diego,N. CRISTAL,ZUNIGA PENA,POSTDOC-EMPLOYEE,"54,718.00","54,718.00",0.00,0.00,NCRISTAL,ZUNIGAPENA
29311,45202,2018,San Diego,ELIZABETH LOUISE,ZUNSHINE,DIETITIAN 2,"66,271.00","66,271.00",0.00,0.00,ELIZABETHLOUISE,ZUNSHINE
29312,45203,2018,San Diego,PAUL F,ZUPKAS,SRA 4,"28,280.00","28,280.00",0.00,0.00,PAULF,ZUPKAS
29313,45204,2018,San Diego,BRUCE LEONARD,ZURAW,PROF-HCOMP,"168,606.00","168,606.00",0.00,0.00,BRUCELEONARD,ZURAW
29314,45205,2018,San Diego,JAN ANDREW,ZVERINA,MEDIA COMM SPEC 4,"120,876.00","117,876.00",0.00,"3,000.00",JANANDREW,ZVERINA
29315,45206,2018,San Diego,JANE FRANCES,ZWERNEMAN,BLANK AST 3,"69,516.00","66,256.00",0.00,"3,260.00",JANEFRANCES,ZWERNEMAN
29316,45207,2018,San Diego,MEGAN ELISE,ZYNKIAN,CLIN NURSE 3,"111,243.00","101,779.00","3,974.00","5,490.00",MEGANELISE,ZYNKIAN

In [128]:
def mergeDataset(data1,set2,filename): 
    data2 = pd.read_csv(set2)
    data2 = data2.dropna()
    name = data2.Instructor
    fullName = ["".join(list(filter(str.isalnum, line))) for line in name]
    fullName = [x.upper() for x in fullName]
    data2['fullName'] = fullName
    merged_inner = pd.merge(left=data1,right=data2, left_on='fullName', right_on='fullName')
    merged_inner.to_csv(filename, index = None, header=True)

In [14]:
def merge(data1, set2, filename):
    count = 0
    data2 = pd.read_csv(set2)
    data2 = data2.dropna(subset=['Instructor'])
    name = data2.Instructor
    last = []
    first = []
    for i in name:
        last.append(i.split(',')[0])
        first.append(i.split(',')[1])
    lastN = ["".join(list(filter(str.isalnum, line))) for line in last]
    firstN = ["".join(list(filter(str.isalnum, line))) for line in first]
    lastN = [x.upper() for x in lastN]
    firstN = [x.upper() for x in firstN]
    
    data2['lastName'] = lastN
    data2['firstName'] = firstN
    inx = pd.Series(list(range(len(first))))
    data2 = data2.set_index(inx)

    Gp = list(data1.GrossPay)
    Rp = list(data1.RegularPay)
    Op = list(data1.OvertimePay)
    Otp = list(data1.OtherPay)
    title = list(data1.Title)
    Pay = []
    C1 = []
    C2 = []
    C3 = []
    C4 = []
    fName = []
    lName = []
    flag = False
    data = data2
            
    f1 = list(data1.firstName)
    f2 = list(data2.firstName)
    l1 = list(data1.lastName)
    l2 = list(data2.lastName)  
    for n in range(len(l2)):
        flag = False
        for m in range(len(l1)):
            if l1[m] == l2[n]:

                if (f1[m] in f2[n]) or (f2[n] in f1[m]):
                    flag = True
                    payment = Gp[m]
                    fname2  = f1[m]
                    lname2 = l1[m]
                    p1 = Rp[m]
                    p2 = Op[m]
                    p3 = Otp[m]
                    t = title[m]
        if flag:
            Pay.append(payment)
            fName.append(fname2)
            lName.append(lname2)
            C1.append(p1)
            C2.append(p2)
            C3.append(p3)
            C4.append(t)
#             data2.loc[idx].GrossPay = payment
#             data2.loc[idx].NAME = name2
            
        else:
            temp = data
            data = temp.drop([n])
        
    data['fName2'] = fName
    data['lName2'] = lName
    data['GrossPay'] = Pay
    data['RegularPay'] = C1
    data['OvertimePay'] = C2
    data['OtherPay'] = C3
    data['Title'] = C4
    data.to_csv(filename, index = None, header=True)

In [15]:
merge(df,'cape_ECE_auto.csv','D:\ECE143\ECE143_group25_project-master\data\Merged_ECE.csv')

In [16]:
csvList = ['ANTH', 'BENG', 'BIOL', 'CAT', 'CENG', 'CGS', 'CHEM', 'CHIN', 'COGS', 'COMM', 'CONT', 'CSE', 'DOC', 'ECON', 'EDS', 'ENVR', 'ERC', 'ESYS', 'ETHN', 'FILM', 'FPMU', 'HDP', 'HIST', 'HMNR', 'HUM', 'ICAM', 'INTL', 'JAPN', 'JUDA', 'LATI', 'LAWS', 'LING', 'LIT', 'MAE', 'MATH', 'MMW', 'MUIR', 'MUS', 'NENG', 'PHIL', 'PHYS', 'POLI', 'PSYC', 'RELI', 'REV', 'RSM', 'SDCC', 'SE', 'SIO', 'SOC', 'SOE', 'STPA', 'SXTH', 'THEA', 'TMC', 'TWS', 'USP', 'VIS', 'WARR', 'WCWP']
for i in range(len(csvList)):
    print(i)
    csv = 'cape_' + csvList[i] + '_auto.csv'
    fname = 'D:\ECE143\ECE143_group25_project-master\data\Merged_' + csvList[i] + '.csv'
    merge(df,csv,fname)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59